<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЧГК + chatGPT</title>
    <style>
        body {
            text-align: center;
            display: grid;
            justify-content: center;
        }

        a img {
            height: 30px;
        }

        .logo {
            margin: 0px 15px;
            text-decoration: none;
        }

        #description {
            width: 500px;
            text-align: left;
            margin-top: 25px;
        }

        #description div {
            margin: 20px 0px;
        }
    </style>
</head>
<body>
<div>
    <img src="/app_static/bot_banner.png">
    <div>
        <a class="logo" href="https://t.me/rp_kts_course_project_bot" target="_blank">
            <img src="/app_static/telegram_logo.png" alt="Telegram">
        </a>
        <a class="logo" href="/docs" target="_blank">
            <img src="/app_static/swagger_logo.png" alt="Swagger">
        </a>
        <a class="logo" href="https://github.com/roma-perceptron" target="_blank">
            <img src="/app_static/github_logo.jpg" alt="GitHub">
        </a>
    </div>
    <div id="description">
        <div>Игра "Что? Где? Когда?", но вместо телезрителей - chatGPT. Нейросеть не только придумывает вопросы, но и проверяет ответы знатоков.</div>
        <div>Играть можно как в одиночку, так и командой. Для этого добавьте бота в свою группу.</div>
        <div>Сделано в рамках курса от <a href="https://metaclass.kts.studio/beginner_backend" target="_blank">kts.studio</a> в апреле 2023 года.</div>
    </div>
</div>
</body>
</html>